@import "tailwindcss";
@plugin "daisyui";


.home {
  background-image: url('./assets/Rectangle\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* পুরো screen height নেবে */
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.635); /* 0.5 মানে ৫০% কালচে */
}

.home-content {
  position: relative;
  z-index: 1; /* overlay এর ওপরে দেখানোর জন্য */
  color: white;
  text-align: center;
}
